.form-wrapper {
  display: flex;
}

.form-sending{
  opacity: 0.5;
  pointer-events: none;
}

.form {
  flex: 1 1 auto;
  max-width: 400px;
  display: grid;
  gap: 20px;
  padding: 40px;
  border-radius: 15px;
  background-color: #1b2028;

  // .form__input
  &__input {
    height: 40px;
    padding: 15px;
    width: 100%;
    border-radius: 5px;

    textarea {
      height: 100px;
      resize: vertical;
    }
  }

  // .form__button
  &__button {
    height: 40px;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;

  }
}

.options-form {
  display: grid;
  gap: 15px;

  // .options-form_title
  &_title {
    color: #fff;
  }

  // .options-form__item
  &__item {
    position: relative;
  }

  // .options-form__input
  &__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    opacity: 0;
  }

  .options-form__input:checked + .options-form__text::before{
    background-color: #0e69bf;
  }

   .options-form__input:focus-visible + .options-form__text::before{
    outline: 1px solid #fff;
  }

  // .options-form__text
  &__text {
    padding-left: 15px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    &::before {
      content: "";
      left: 0;
      top: 0;
      z-index: 2;
      position: absolute;
      width: 15px;
      height: 15px;
      border: 1px solid #1b2028;
      border-radius: 50%;
      transition: all 0.3s;
      background-color: #fff;
    }
  }
}
.file-form {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  min-width: 0;

  // .file-form__item
  &__item {
    flex: 0 0 auto;
    position: relative;
  }

  // .file-form__input
  &__input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 0;
    opacity: 0;
    pointer-events: none;
  }

  .file-form__input:focus-visible + .file-form__button{
    outline: 1px solid #fff;
  }

  // .file-form__button
  &__button {
    padding: 8px 15px;
    border: 2px solid #000;
    cursor: pointer;
  }

  // .file-form__name
  &__name {
    color: #fff;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

  }
}

.button {
  border-radius: 5px;
  background-color: #0e5da7;
  color: #fff;
  transition: all 0.3s;
  &:hover{
    background-color: #0e69bf;
  }
}

.checkbox-form {
  position: relative;

  // .checkbox-form__input
  &__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    opacity: 0;

  }

  // .checkbox-form__text
  &__text {
    padding-left: 25px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    &::before{
      content: '';
      left: 0;
      top: 0;
      position: absolute;
      width: 15px;
      height: 15px;
      z-index: 2;
      border-radius: 3px;
      transition: all 0.3s;
      background-color: #fff;
      border: 1px solid #1b2028;
    }
  }
}

.checkbox-form__input:checked + .checkbox-form__text::before{
  background-color: #0e69bf;
}

.checkbox-form__input:focus-visible + .checkbox-form__text::before{
  outline: 1px solid #fff;
}
