<header class="header">
  <div class="header__content container">
    <div class="navbar">
      <!-- logo -->
      <div class="logo">
        <a href="/">logo</a>
      </div>
      <!-- menu PC  -->
      <nav>
        <ul class="menu">
          <li class="menu__item">
            <a href="/" class="menu__item_link">1 item</a>
          </li>
          <li class="menu__item">
            <a href="/" class="menu__item_link">2 item</a>
          </li>
          <li class="menu__item">
            <a href="/" class="menu__item_link">3 item</a>
          </li>
          <li class="menu__item">
            <a href="/" class="menu__item_link">4 item</a>
          </li>
          <li class="menu__item">
            <a href="/" class="menu__item_link">5 item</a>
          </li>
          <li class="menu__item">
            <a href="/" class="menu__item_link">6 item</a>
          </li>
        </ul>
      </nav>

      <!-- menu Tablet  -->
      <nav class="burger__menu">
        <ul class="menu">
          <li class="menu__item">
            <a href="/" class="menu__item_link">1 item</a>
          </li>
          <li class="menu__item">
            <a href="/" class="menu__item_link">2 item</a>
          </li>
          <li class="menu__item">
            <a href="/" class="menu__item_link">3 item</a>
          </li>
          <li class="menu__item">
            <a href="/" class="menu__item_link">4 item</a>
          </li>
          <li class="menu__item">
            <a href="/" class="menu__item_link">5 item</a>
          </li>
          <li class="menu__item">
            <a href="/" class="menu__item_link">6 item</a>
          </li>
        </ul>
      </nav>
      <!-- burger button -->
      <button class="burger">
        <span></span>
      </button>
    </div>
  </div>
</header>
