* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.locked {
  overflow: hidden;
}

//==================== Оболочка ====================
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  // &._loaded {}
}

//==================== Анимация ====================
// fade
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

//==================== основная сетка ====================
.container {
  max-width: $maxWidthContainer + px;
  padding-inline: 20px;
  margin-inline: auto;

  @include netbook {
    max-width: $netbook + px;
  }

  @include tablet {
    max-width: $tablet + px;
  }

  @include phone {
    max-width: none;
    padding: 0 rem(10px);
  }
}
