.tabs {
  width: 100%;
  margin-top: 150px;

  // .tabs__header
  &__header {
    display: flex;
    justify-content: center;
    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
    }
  }

  // .tabs__header-item
  &__header-item {
    margin: 0 25px;
    cursor: pointer;
    &.active {
      color: red;
    }
  }

  // .tabs__content
  &__content {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 75px;
  }

  // .tabs__content-item
  // &__content-item {
  // }
}
// .active {
// }
