//Переменные=========================================================================
$minWidth: 320px;
$maxWidth: 1152;
$maxWidthContainer: 856;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$color1: #FFFFFF;
$color2: #CC9900;
$color3: #4C4C4C;
$color4: #C89F2D;
$color5: #9B9B9B;

// Шрифт по умолчанию================================================================
$fontFamily: " ";