@import "fonts";



// Шрифт по умолчанию================================================================
$fontFamily: " ";


//Переменные=========================================================================
$minWidth: 320px;
$maxWidth: 1152;
$maxWidthContainer: 856;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;


//Оболочка=========================================================================
.wrapper {
   width: 100%;
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;

   // &._loaded {}
}


//основная сетка====================================================================
._container {
   max-width: $maxWidthContainer + px;
   margin: 0 auto;

   @media (max-width: $md1) {
      max-width: 970px;
   }

   @media (max-width: $md2) {
      max-width: 750px;
   }

   @media (max-width: $md3) {
      max-width: none;
      padding: 0 10px;
   }
}