@import "fonts";

body {
   font-family: Pragmaticashadowc italic;
   background: url('@img/img2.jpg') 0 0 no-repeat;

   span {
      color: red;
   }

   // background: url('@img/img2.jpg') 0 0 no-repeat;
}

@media(max-width: 768px) {
   span {
      font-size: 20px;
   }
}

@media(max-width: 768px) {
   body {
      background-color: green;
   }
}